<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.users.post.mapper.PostMapper">

  <!-- <resultMap id="postResultMap" type="com.green.company.domain.PostVo">
    <result property="po_num" column="PO_NUM"/>
    <result property="region" column="REGION"/>
    <result property="po_title" column="PO_TITLE"/>
  </resultMap> -->

  <select id="getPostList">
  
    SELECT
      PO_NUM,
      REGION,
      PO_TITLE
    FROM
      POST
  
  </select>

</mapper>